<mat-toolbar class="navbar">
    <span>
        VTAI
    </span>
    <span class="fill-space"></span>
    @if (!isAuth) {
        <a routerLink="/upload">
            <button mat-icon-button>
                <mat-icon>upload_file</mat-icon>
            </button>
        </a>
        <a routerLink="/player">
            <button mat-icon-button>
                <mat-icon>movie</mat-icon>
            </button>
        </a>
        <a routerLink="/login">
            <button mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>
        </a>
    }
  </mat-toolbar>