<app-navbar class="navbar" [isAuth]=false/>
<main>
  <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
      <!-- [] is property binding, () is event binding -->
      <form [formGroup]="registerForm" (submit)="onSubmit()">
        <div>
          <mat-form-field>
            <input
              matInput
              type="text" 
              placeholder="Username" 
              formControlName="username"
              [class.invalid]="checkInvalid('username')"
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input 
              matInput 
              type="password" 
              placeholder="Password" 
              formControlName="password"
              [class.invalid]="checkInvalid('password')"
            >
          </mat-form-field>
        </div>
        <div class="button">
          <button type="submit" class="primary" mat-button>Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <a routerLink="/register">Create an Account</a>
</main>